<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url 'vroumr-clés.jpg' %>);">
  <div class="banner-content">
    <div class="banner-title">
      <h1> share my car !</h1>
      <h3>Rent it </h3>
    </div>

    <%= simple_form_for :query, url: vehicles_path, method: :get do |f| %>
      <%= f.input :address, placeholder: "Address", label: false %>
      <%= f.input :category, collection: Category.all, label: false %>
      <div class="datetimepicker_wrapper">
        <%= f.input :datetime, label: false %>
      </div>
      <%= f.submit "search", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>




