<h1 class = "text-center">Choose a vehicle to rent </h1>
<div class="container">
  <row class="col-xs-4">
  <br></br>
  <h2 class = "text-center">Something else ?</h2>
  <br></br>
    <%= simple_form_for :query, url: vehicles_path, method: :get do |f| %>
      <%= f.input :address, placeholder: "Address", label: false %>
      <%= f.input :category, collection: Category.all, label: false %>
      <%= f.submit %>
    <% end %>
  </row>
  <row class="col-xs-8">
    <div id="map" style="width: 100%; height: 300px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' }, provider: { scrollwheel: false } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </row>
</div>
<br></br>

<div class="container text-center">

    <div class="row">

      <% @vehicles.each do |vehicle| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path vehicle_picture(vehicle), height: 300, width: 400, crop: :fill %>');">
          <div class="avatar-card" style="background-image: url(<%= asset_path('logo') %>);"></div>
                <div class="card-description text-left">

                  <h2><%= vehicle.name %></h2>
                  <h3> <%= vehicle.category.name %></3>
                  <h3> <%= vehicle.price %>€/day</h3>
                <%= link_to "show this vehicle", vehicle_path(vehicle), class: 'btn btn-success'%>
                </div>

          </div>
        </div>
      <% end %>

    </div>

</div>


