<div class="container text-center">
  <h1><%= @vehicle.name %></h1>
  <% if @vehicle.photo? %>
  <%= cl_image_tag @vehicle.photo.path, width: 500, height: 300, crop: :fill %>
<% end %>

  <h2><%= @vehicle.category.name %></h2>
  <h2><%= @vehicle.price %></h2>

  <%= link_to "Rent this vehicle", vehicle_orders_path(@vehicle), method: :post, class:"btn btn-primary" %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @vehicle_coordinates.to_json %>;
      alert('Vehicle coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>


