<div class="container text-center">
  <h1><%= @vehicle.name %></h1>
  <%= image_tag 'peugeot205.png'%>

  <h2><%= @vehicle.category.name %></h2>
  <h2><%= @vehicle.price %></h2>

  <%= link_to "Rent this vehicle", vehicle_orders_path(@vehicle), method: :post, class:"btn btn-primary" %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates.to_json %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>


