<div class="container text-center">
  <h1><%= @vehicle.name %></h1>
  <% if @vehicle.photo? %>
  <%= cl_image_tag @vehicle.photo.path, width: 500, height: 300, crop: :fill %>
<% end %>

  <h2><%= @vehicle.category.name %></h2>
  <h2>Description</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti a nihil doloremque animi dicta eius quis reiciendis omnis esse ratione quasi consequatur modi, repellendus in cum, nulla vitae suscipit vero?</p>

  <h2><%= @vehicle.price %></h2>
  <h3><%= @vehicle.address %></h3>

  <%= simple_form_for [@vehicle, Order.new] do |f| %>
    <%= f.input :date %>
    <%= f.submit "Rent this vehicle", class:"btn btn-primary"  %>
  <% end %>

  <br></br>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @vehicle_coordinates.to_json %>;
    });
  <% end %>
<% end %>


